<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Login page</title>
</head>
<body style="font-family: Calibri, Helvetica, sans-serif; background:#f0c7d0">
    <center> <h1> Login Form </h1> </center>
<form style="border: 3px solid #f1f1f1;">
    <div style="padding: 2.3148148148% 1.302083333333333%;
            background-color: skyblue;">
        <label>Username : </label>
        <input style="width: 100%;
            margin: 0.740740% 0;
            padding: 1.111111111111111% 1.0416666666666667%;
            display: inline-block;
            border: 2px solid green;
            box-sizing: border-box;" type="text" placeholder="Enter Username" name="username" required>
        <br>
        <label>Password : </label>
        <input style="width: 100%;
            margin: 0.740740% 0;
            padding:1.111111111111111% 1.0416666666666667%;
            display: inline-block;
            border: 2px solid green;
            box-sizing: border-box;" type="password" placeholder="Enter Password" name="password" required>
        <br>
        <input type="checkbox" > Remember me
        <br>
        <button style="background-color: #4CAF50;
            width: 100%;
            color: orange;
            padding: 1.3888888888888888% 0.78125% ;
            margin: 0.9259259259259258% 0.0% ;
            border: none;
            cursor: pointer;"
                type="submit">Login</button>
        <br>
        <a href="#">Forgot password? </a>
    </div>
</form>
</body>
</html>